@media (max-width:1400px) {
    .main-heading h1 {
        font-size: 100px;
    }

    .left-bg-name {
        left: -150px;
    }
}

@media (max-width:1300px) {
    .social-links {
        right: 10px;
        top: 30%;
    }
}

@media (max-width:1200px) {
    .menu-btn i {
        display: inline-block;
    }

    .menus li a {
        display: none;
    }

    header {
        padding: 25px;
    }

    .profile-img::before {
        left: -2%;
        top: 105px;
        width: 450px;
        height: 450px;
    }

    .main-heading h1 {
        font-size: 80px;
    }

    .title {
        padding-top: 0px;
    }

    .about-info {
        padding: 20px 0;
    }

    .count-title {
        font-size: 50px;
    }

    .alpha {
        font-size: 50px;
        color: var(--primary-color);
        margin-left: 3px;
        font-weight: 500;
        display: inline-block;
        margin-top: -7px;
    }

    .counter-heading h3 {
        font-size: 18px;
        line-height: 1.5;
    }
    .counter {
        padding: 20px 25px;
    }
}

@media (max-width: 992px) {
    .header-btn a {
        display: none;
    }

    .main-page {
        margin-top: 100px;
        height: 1000px;
        text-align: center;
    }

    .profile-img {
        margin-left: 40px;
    }

    .profile-img img {
        max-width: auto;
        position: relative;
        bottom: 0;
        z-index: 5;
    }

    .profile-img::before {
        left: 13%;
        top: 0px;
        width: 450px;
        height: 450px;
    }

    .card.mt-60 {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .personal-pic {
        margin: 0 30px;
        margin-top: 170px;
        margin-bottom: 110px;
    }

    .personal-pic img {
        width: 100%;
        height: auto;
        /* padding-left: 50px; */
    }

    .left-bg-name {
        display: none;
    }

    .personal-info {
        margin-top: 20px;
    }

    .count-title{
        font-size: 70px;
        color: var(--primary-color);
    }
    
    .alpha{
        font-size: 65px;
        color: var(--primary-color);
        margin-left: 3px;
        font-weight: 500;
        display: inline-block;
        margin-top: -7px;
    }
    
    .counter-heading h3{
        font-size: 22px;
        line-height: 1.5;
    }

    .ml-20 {
        margin-left: 0px;
    }

    .mt-20 {
        margin-top: 40px;
    }

    .service-icon {
        text-align: left;
        object-position: left;
        margin-bottom: 25px;
        margin-left: 5px;
    }

    .service-box {
        padding-top: 50px;
        padding-bottom: 45px;
        padding-inline: 30px;
    }

    .service-box-text h3{
        font-size: 27px;
    }

    .service-box-text p{
        font-size: 18px;
    }
    
    .plan-box.mat {
        width: 336px;
        /* margin: 0 100px; */
        margin: auto;
    }

    .testimonial-img  {
        margin-top: 50px;
    } 

    .quit img {
        width: 30px !important;
    }

    .slider {
        padding-left: 50px;
        padding-right: 50px;
    }

    .blockquote p {
        font-size: 17px !important;
    }
}

@media (max-width: 768px) {
    .main-page {
        height: 980px;
    }

    .logo-img img {
        width: 160px;
        height: auto;
    }

    .profile-img img {
        max-width: auto;
        position: relative;
        bottom: 0;
        z-index: 5;
    }

    .profile-img::before {
        left: -2%;
        top: 0px;
        width: 450px;
        height: 450px;
    }

    .main-heading .sub-heading {
        font-size: 20px;
    }

    .main-heading h1 {
        font-size: 70px;
        margin-top: 8px;
    }

    .social-links ul li a {
        display: none;
    }

    .heading-writter {
        font-size: 20px;
    }

    .typewrite {
        font-size: 30px;
    }

    .back-name {
        display: none;
    }

    .card.mt-60 {
        margin-top: 20px;
    }

    .ptb {
        padding-top: 130px;
        padding-bottom: 100px;
    }

    .personal-info {
        padding: 0px 30px;
    }

    .skill-bg-name {
        display: none;
    }

    .skill-sec {
        padding-bottom: 120px;
    }

    .about-icon {
        display: none;
    }

    .plan-box.mat {
        width: 100%;
        /* margin: 0 100px; */
        margin: auto;
    }

    .testimonial {
        padding-bottom: 120px;
    }
}

@media (max-width: 576px) {
    .profile-img img {
        max-width: auto;
        position: relative;
        bottom: 0;
        z-index: 5;
    }

    .profile-img::before {
        left: 8%;
        top: 0px;
        width: 350px;
        height: 350px;
    }

    .main-heading .sub-heading {
        font-size: 18px;
    }

    .main-heading h1 {
        font-size: 60px;
        margin-top: 8px;
    }

    .heading-writter {
        font-size: 18px;
    }

    .typewrite {
        font-size: 25px;
    }

    .card {
        margin-left: 15px;
        margin-right: 15px;
    }

    .intro-detail p {
        font-size: 16px;
    }

    .intro-detail h5 {
        font-size: 18px;
    }

    .personal-info {
        margin: 0px;
    }

    .title span {
        font-size: 16px;
    }

    .title h2 {
        font-size: 45px;
    }

    .my-info {
        font-size: 16px;
    }

    .list-info {
        font-size: 16px;
    }
    .fun-fact-area {
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #212228;
    }
   
    .counter {
        padding: 30px 100px;
    }

    .skill-sec {
        padding-left: 30px;
        padding-right: 30px;
    }

    .testimonial {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 480px) {
    .main-page {
        height: 770px;
    }

    .profile-img img {
        max-width: auto;
        position: relative;
        height: 400px;
        bottom: 0;
        z-index: 5;
    }

    .profile-img::before {
        left: -3%;
        top: 0px;
        width: 280px;
        height: 280px;
    }

    .main-heading .sub-heading {
        font-size: 18px;
    }

    .main-heading h1 {
        font-size: 60px;
        margin-top: 8px;
    }

    .heading-writter {
        font-size: 18px;
    }

    .typewrite {
        font-size: 25px;
    }

    .ptb {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .title span {
        font-size: 14px;
    }

    .title h2 {
        font-size: 40px;
    }

    .my-info {
        font-size: 14px;
    }

    .list-info {
        font-size: 14px;
    }

    .counter {
        padding: 30px 30px;
    }

    .service-plan,.testimonial,.services,.skill-sec,.fun-fact-area,.personal-details,.personal-info {
        padding-left: 10px;
        padding-right: 10px;
    }

    .service-heading span {
        letter-spacing: 5px;
    }

    .rate {
        font-size: 40px;
    }

    .slider {
        padding-left: 50px;
        padding-right: 10px;
    } 
}